<?xml version="1.0" encoding="UTF-8"?>

<!-- Make the human model move at a fixed speed. -->
<launch>
  <node pkg="people_mover" name="human_velocity_publisher" type="human_velocity_publisher.py"> 
    
    <!-- Set the speed of model movement here. [m/s] -->
    <param name="human_left_velocity_x" value="0.5"/> 
    <param name="human_left_velocity_y" value="0.0"/>
  </node>
</launch>
